/* Scoped AboutUs Styling */
.about-us-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.about-us-container {
  display: flex;
  flex-direction: column; /* Stack content vertically */
  justify-content: center;
  align-items: center;
  max-width: 75%; /* Adjust width to be similar to HelpPage */
  margin: 40px auto; /* Center the content */
  padding: 30px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(10, 70, 190, 0.2); /* Subtle shadow */
}

.title {
  font-size: 2.5em;
  color: #162e63;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1.5em;
  color: #395ea8;
  margin-bottom: 30px;
  text-align: center;
}

.team-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 30px;
}

.team-member {
  text-align: center;
  margin: 20px;
}

.photo-placeholder {
  width: 100px;
  height: 100px;
  background-color: #ccc;
  border-radius: 50%;
  margin-bottom: 10px;
}

.icons {
  margin-top: 10px;
}

.icons .icon {
  font-size: 20px;
  margin: 0 10px;
}

.guide-section {
  text-align: center;
  margin-bottom: 30px;
}

.description {
  text-align: justify;
  line-height: 1.6;
  color: #162e63;
  margin-top: 20px;
}

.footer {
  text-align: center;
  margin-top: 40px;
  font-size: 1.5em;
  color: #162e63;
  width: 100%;
}

.footer p {
  margin: 0; /* Ensure no margin around the "Team Millennium" text */
}
