  .emergencyMain{
    margin: 3em;
    padding: 12%;
  }

  .passwordContainer {
    margin-bottom: 30px;
    text-align: center;
  }
  
  .passwordLabel {
    display: block;
    font-size: 20px;
    margin-bottom: 12px;
    color: #333;
    text-align: center;
  }
  
  .passwordInput {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 90%;
    max-width: 400px;
    font-size: 18px;
  }
  
  .passwordInput:focus {
    border-color: #2c2d91;
    outline: none;
  }
  
  .buttonEmergency {
    display: flex;
    justify-content: center;
  }
  
  .buttonEmergencyIN {
    padding: 14px 28px;
    background-color: #d9534f; /* Red button */
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
  }
  
  .buttonEmergencyIN:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  