
.slots-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.slot-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 90%;
  max-width: 400px;
  text-align: left;
}

.slot-title {
  font-size: 24px;
  color: #000000;
  margin-bottom: 15px;
  text-align: center;
}

.input-label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  color: #000000;
}

.input-date, .input-time {
  display: block;
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.slot-submit-button {
  background-color: #e6f0ff; /* Light blue */
  color: #1a2a74; /* Dark blue text */
  border: 2px solid #1a2a74;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.slot-submit-button:hover {
  background-color: #1a2a74;
  color: #ffffff;
}

.pagination-dots {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
}

.dot.active {
  background-color: #000;
}
